/* Header */
header {
    text-align: center;
    padding: 20px;
    background-color: #5f96d1; /* Color de fondo azulado */
    color: white; /* Color del texto */
    margin: 0;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}


/* Bloque lateral */
aside {
    width: 220px;
    background-color: #f2f2f2;
    padding: 20px;
    height: 100%; 
    margin: 0; 
    border-radius: 15px;
}

.instalacion-img-container {
    display: flex;
    justify-content: center;
}

.instalacion-img {
    width: 300px; /* Establece el ancho deseado para todas las imágenes */
    height: auto; /* Mantén la proporción de aspecto */
    max-width: 100%; /* Evita que las imágenes se salgan del contenedor */
}

.instalacion-img-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que las imágenes se envuelvan si el espacio es insuficiente */
}

.instalacion-img {
    width: auto; /* Utiliza el ancho natural de la imagen */
    height: auto; /* Utiliza la altura natural de la imagen */
    max-width: 180px; /* Establece un ancho máximo para las imágenes */
    max-height: 180px; /* Establece una altura máxima para las imágenes */
    margin: 5px; /* Añade un pequeño espacio entre las imágenes */
    cursor: pointer; /* Cambia el cursor al pasar sobre las imágenes */
    object-fit: cover; /* Ajusta la imagen al tamaño del contenedor sin deformarla */
}

.mensaje-confirmacion {
    text-align: center; /* Centra horizontalmente el texto */
    position: absolute; /* Posiciona el mensaje absolutamente */
    bottom: -25px; /* Ajusta la posición vertical del mensaje */
    left: 0; /* Ajusta la posición horizontal del mensaje */
    width: 100%; /* Establece el ancho del mensaje igual al contenedor */
    padding: 5px; /* Añade un poco de espacio alrededor del mensaje */
    background-color: rgba(24, 164, 42, 0.8); /* Fondo oscuro para el mensaje */
    color: white; /* Texto blanco para el mensaje */
    display: none; /* Oculta inicialmente el mensaje */
}

.mensaje-container {
    position: relative; /* Establece la posición relativa para el contenedor del mensaje */
    height: 180px; /* Establece una altura fija para todos los contenedores de mensajes */
}

