/* Header */
header {
    text-align: center;
    padding: 20px;
    background-color: #5f96d1; /* Color de fondo azulado */
    color: white; /* Color del texto */
    margin: 0;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    margin-bottom: 50px;
}

h5 {
    margin-bottom: 10px;
}



