body {
    font-family: Arial, sans-serif;
}

.jumbotron {
    padding: 4rem 2rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.col-md-6 {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 1.5rem;
}

.img-fluid {
    max-width: 150px; /* Ajusta el tamaño máximo del ancho */
    height: auto; /* Mantiene la proporción de aspecto */
}
