/* Estilo para el contenedor principal */
.container {
    margin-top: 20px; /* Espacio superior */
}

/* Estilo para el encabezado */
h1 {
    margin-bottom: 20px; /* Espacio inferior */
}

/* Estilo para los botones de opciones */
.options {
    margin-bottom: 20px; /* Espacio inferior */
}

/* Estilo para los títulos */
.titulos {
    margin-top: 20px; /* Espacio superior */
}

/* Estilo para los títulos h2 */
.titulos h2 {
    margin-bottom: 10px; /* Espacio inferior */
}

/* Estilo para los títulos h3 */
.titulos h3 {
    margin-bottom: 20px; /* Espacio inferior */
}

/* Estilo para las imágenes */
.titulos img {
    border-radius: 5px; /* Bordes redondeados */
    margin-top: 20px; /* Espacio superior */
    max-width: 100%; /* Ancho máximo del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
}
