

/* Header */
header {
    text-align: center;
    padding: 20px;
    background-color: #5f96d1; /* Color de fondo azulado */
    color: white; /* Color del texto */
    margin: 0;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.search-bar {
    margin-bottom: 20px;
}

.instalaciones-list {
    margin-top: 10px;
}

#searchInput {
    margin-bottom: 10px;
}

#searchButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #0056b3;
}

.comunidad-card {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comunidad-card:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
