<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Alumnos</title>
</head>
<body>
    <h1>Hola Alumnos!</h1>
    <div>
        <p th:if="${#authorization.expression('hasAuthority('ROLE_ALUM')')}">
            Acceso como Alumno, <span th:text="${#authentication.name}">Nombre del Alumno</span>
        </p>
        <p th:unless="${#authorization.expression('hasAuthority('ROLE_ALUM')')}">
            <a href="/">Volver al inicio</a>
        </p>
    </div>
</body>
</html>
