<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/base.css">
</head>

<body>
    <div class="fixed-top-right">
        <a href="/perfil" class="btn btn-primary">Perfil</a>
    </div>
    <header>
            <h1 >Bienvenido a TuComunidad</h1>
        </nav>
    </header>

    <main>
        <aside>
            <a href="/foro">
                <h2 class="asideLetras">Foro</h2>
            </a>
            <a href="/votaciones">
                <h2 class="asideLetras">Votaciones</h2>
            </a>
            <a href="/reserva">
                <h2 class="asideLetras">Reserva</h2>
            </a>
            <a href="#reuniones">
                <h2 class="asideLetras">Reuniones</h2>
            </a>
        </aside>
    </main>

    
</body>
</html>
