<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/contacto.css"> <!-- Enlaza tu archivo CSS aquí -->
</head>
<body>
    <div class="contact-container">
        <h2>Contáctanos</h2>
        <form id="contact-form"> <!-- Agregado un ID al formulario -->
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" required>
                <small id="email-help"></small> <!-- Mensaje de ayuda para el correo electrónico -->
            </div>
            <div class="form-group">
                <label for="asunto">Asunto:</label>
                <input type="text" id="asunto" name="asunto" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="mensaje">Tu mensaje (opcional):</label>
                <textarea id="mensaje" name="mensaje" rows="5" class="form-control"></textarea>
            </div>
            
            <button type="button" id="submit-button" onclick="enviarMensaje()" class="btn btn-primary">Enviar</button> <!-- Cambiado el tipo de botón a "button" y añadido el evento onclick -->
        </form>
    </div>
    <!-- Incluye tu archivo JavaScript aquí -->
    <script src="../js/contacto.js"></script>
</body>
</html>
