<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="stylesheet" href="/css/foro.css">
    <title>Foro TuComunidad</title>
  </head>
  <body>
    <header class="header" id="header">
      <div class="row">
        <div class="container">
          <div class="header-content">
            <div class="logo">
              <a href="/"
              ><h2 id="inicio">INICIO</h2></a>
            </div>
            <div class="nav-search">
              <h1 class="header_text" id="header_text">FORO</h1>
            </div>
            <div class="nav-group">
              <ul>
                <li class="join">
                  <a href="/perfil">
                    <i class="fa-solid fa-user"></i>
                    <span>Perfil</span>
                  </a> 
                  
                </li>
                <li>
                  <a href="/logout">
                    <span>Logout</span>
                  </a> 
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <aside>
        <a href="/foro">
            <h2>Foro</h2>
        </a>
        <a href="/votaciones">
            <h2>Votaciones</h2>
        </a>
        <a href="/reserva">
            <h2>Reserva</h2>
        </a>
        <a href="#reuniones">
            <h2>Reuniones</h2>
        </a>
    </aside>
      <div class="container">
        <div class="row">
          <section class="left">
            <h2>Temas del foro</h2>
            <button id="addTopicBtn">Añadir Tema</button>
            <div class="inner-left">
            </div>
          </section>
        </div>
      </div>
      <div id="addTopicForm" style="display:none;">
        <h2 class="addtopictext">Añadir Nuevo Tema</h2>
        <input type="text" id="topicTitle" placeholder="Título">
        <textarea id="topicDetails" placeholder="Descripción"></textarea>
        <div th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">
          <input type="checkbox" id="importantTopicCheckbox">
          <label for="importantTopicCheckbox">Marcar como importante</label>
      </div>
        <button onclick="submitTopic()">Publicar</button>
    </div>
    </main>
    <script
      src="https://kit.fontawesome.com/9e5ba2e3f5.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/foro.js"></script>
  </body>
</html>
