<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/inicio.css">
    <script src="../js/inicio.js"></script>
    
</head>
<body>
    <header>
        <!--Titulo-->
        <h1>Bienvenido a TuComunidad</h1>
        <div class="profile-box"><a class="profileboxletra" href="/perfil" class="profile.html">Perfil</a></div>
    </header>

    <main>
        <aside>
            <a href="/foro">
                <h2 class="asideLetras">Foro</h2>
            </a>
            <a href="/votaciones">
                <h2 class="asideLetras">Votaciones</h2>
            </a>
            <a href="/reserva">
                <h2 class="asideLetras">Reserva</h2>
            </a>
            <a href="#reuniones">
                <h2 class="asideLetras">Reuniones</h2>
            </a>
        </aside>
        <div class="titulos">
            <h2>¿Nos dejas ayudarte?</h2>
            <h3>Mejoraremos tu comunidad</h3>
            <div>
                <img id="urbanizacion" src="../content/Urbanización1.jpeg">
            </div>
        </div>
    </main>
    
</body>
</html>
