<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de administrador</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/panel_admin.css">
    
</head>

<body class="d-flex flex-column min-vh-100">
    <link rel="stylesheet" href="/css/foro.css">
    <link rel="stylesheet" href="/css/portada.css">
    <header class="header" id="header">
        <div class="row">
            <div class="container">
                <div class="header-content">
                    <div class="logo">
                        <a href="/">
                            <h2 id="inicio">INICIO</h2>
                        </a>
                    </div>
                    <div class="nav-search">
                        <h1 class="header_text" id="header_text">Panel de Administrador</h1>
                    </div>
                    <div class="nav-group">
                        <ul>
                            <li class="join">
                                <a href="/perfil">
                                    <i class="fa-solid fa-user"></i>
                                    <span>Perfil</span>
                                </a>

                            </li>
                            <li>
                                <a href="/logout">
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container my-auto">
        <div class="row justify-content-center">
            <div class="col-md-5 mb-4 text-center">
                <a href="/crear_comunidad" class="card h-100 text-decoration-none">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Crear comunidad</h5>
                        <img class="card-img-top" src="../Content/obras.jpg" alt="Imagen de la pista de pádel">
                          
                    </div>
                </a>
            </div>
           
            <div class="col-md-5 mb-4 text-center">
                <a href="/ver_comunidades" class="card h-100 text-decoration-none">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Ver comunidades</h5>
                        <img class="card-img-top" src="../Content/vecinos.jpg" alt="Imagen de la pista de pádel">
                        
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
