<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de administrador</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/panel_admin.css">
    
</head>

<body class="d-flex flex-column min-vh-100">
    <header id="header-container">
        <div class="container">
            <h1 class="text-center">Panel de Administrador</h1>
        </div>
    </header>

    <div class="container my-auto">
        <div class="row justify-content-center">
            <div class="col-md-5 mb-4 text-center">
                <a href="/crear_comunidad" class="card h-100 text-decoration-none">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Crear comunidad</h5>
                        <img class="card-img-top" src="../Content/obras.jpg" alt="Imagen de la pista de pádel">
                          
                    </div>
                </a>
            </div>
           
            <div class="col-md-5 mb-4 text-center">
                <a href="/ver_comunidades" class="card h-100 text-decoration-none">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Ver comunidades</h5>
                        <img class="card-img-top" src="../Content/vecinos.jpg" alt="Imagen de la pista de pádel">
                        
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
