<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/perfil.css">

    <title>Perfil</title>
</head>
<body>
    <div class="container">
        <h1>Perfil de Usuario</h1>
        <div class="community-info">
            <p>Perteneces a la comunidad: <strong>TuComunidad</strong></p>
        </div>
        <div class="form-group">
            <label for="usuario">Nombre de usuario:</label>
            <input type="text" id="usuario" name="usuario" value="Usuario123" readonly>
        </div>
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" value="John" readonly>
        </div>
        <div class="form-group">
            <label for="last-name">Apellidos:</label>
            <input type="text" id="last-name" name="last-name" value="Doe" readonly>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="john.doe@example.com" readonly>
        </div>
        <a href="/cambiar_contraseña">Cambiar Contraseña</a>
    </div>
</body>
</html>
