<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profesores</title>
</head>
<body>
    <h1>Hola Profesores!</h1>
    <div>
        <p th:if="${#authorization.expression('hasAuthority('ROLE_PROF')')}">
            Acceso como Profesor, <span th:text="${#authentication.name}">Nombre del Profesor</span>
        </p>
        <p th:unless="${#authorization.expression('hasAuthority('ROLE_PROF')')}">
            <a href="/">Volver al inicio</a>
        </p>
    </div>
</body>
</html>
