<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="stylesheet" href="/css/foro.css">
    <title>Foro TuComunidad</title>
  </head>
  <body>
    <header class="header" id="header">
      <div class="row">
        <div class="container">
          <div class="header-content">
            <div class="logo">
              <a href="/"
              ><h2 id="inicio">INICIO</h2></a>
            </div>
            <div class="nav-search">
              <h1 class="header_text" id="header_text">FORO</h1>
            </div>
            <div class="nav-group">
              <ul>
                <li class="join">
                  <a href="/perfil">
                    <i class="fa-solid fa-user"></i>
                    <span>Perfil</span>
                  </a> 
                  
                </li>
                <li>
                  <a href="/logout">
                    <span>Logout</span>
                  </a> 
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <aside>
        <a href="/foro">
            <h2>Foro</h2>
        </a>
        <a href="/votaciones">
            <h2>Votaciones</h2>
        </a>
        <a href="/reserva">
            <h2>Reserva</h2>
        </a>
        <a href="#reuniones">
            <h2>Reuniones</h2>
        </a>
    </aside>
      <div class="container">
        <div class="row">
          <section class="left">

            <!-- <h2 id="tituloTema"></h2>
              <p id="descripcionTema"></p> -->
              <div id="temaForo">
              
              </div>
                <div id="comentarios"></div>
            
          </section>
          <section class="right">
            <form id="formularioComentario">
                <textarea id="textoComentario" placeholder="Escribe un comentario..."></textarea>
                <button type="submit">Enviar Comentario</button>
            </form>
        </section>
        </div>
      </div>
      
    </main>
    <script
      src="https://kit.fontawesome.com/9e5ba2e3f5.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/temaForo.js"></script>
  </body>
</html>

